# Git
.git
.gitignore
.github

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
coverage.xml

# Poetry
poetry.lock

# Environment
.env
.env.*
!.env.example
.venv
venv

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dev container
.devcontainer

# Documentation
README.md
docs/

# Tests
tests/
